/*Спросить у Паши*/
summary {
  cursor: pointer;
  background: #EEEEF6;
  border-radius: 5px 5px 0px 0px;
  outline:0;
  margin: 5px 0px;
  padding-left:5px;
}
summary::details-marker { display: none;}
details {
  border-radius: 5px;
  background: #F9F9F9;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
details>summary:before{ content: "\1F4C1\0020";}
details[open]>summary:before{ content: "\1F4C2\0020";}
details > div{
  margin: 5px 0px 5px 1em;
  padding: 5px;
}
.edit{
    text-align: center;
    cursor: pointer;
    margin:0;
    padding:0;
    font-size:2em;
}
#header {
    width: 150%;
    display: block;
    position: fixed;
    background: #fff;
    overflow: hidden;
    z-index: 1;
}
#header div {
    display: table-cell;
    padding: 15px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-weight: bold;
}


/*футер для мышки*/
#footer {
    /*position: fixed; */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 3px; 
    width: 100%; 
} 
#footer>h1{ float: right; }

/*древовидный список для направлений, групп и классов*/
.list-select ul { display: none;}
.list-select li:hover > ul { display: block;}
ul.ul-treefree { padding-left:25px;}
ul.ul-treefree ul { margin:0; padding-left:6px; }
ul.ul-treefree li { position:relative; list-style:none outside none; border-left:solid 1px #999; margin:0; padding:0 0 0 19px; line-height:23px; }
ul.ul-treefree li span {font-size: 20px; cursor:pointer; margin-left: 5px; }
ul.ul-treefree li:before { content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0; }
ul.ul-treefree li:last-child { border-left:0 none; }
ul.ul-treefree li:last-child:before { border-left:solid 1px #999; }
ul.ul-dropfree div.drop {
width:11px;
height:11px;
position:absolute;
z-index:10;
top:6px;
left:-6px;
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC');
background-position:-11px 0;
background-repeat:no-repeat;
cursor:pointer;
}

/*классы для добавления/удаления сотрудников по ролям*/
.pickListButtons {
  padding: 10px;
  text-align: center;
}
.pickListButtons button { margin-bottom: 5px;}
.pickListSelect { height: 250px !important;}
.pointer { cursor: pointer; }
.unvisible {display: none;}

.checkboxmy label { display:block}
.checkboxmy label:nth-child(n+2) { margin-left:1em;}  

/*классы для реестра*/
.reg_thead{background: #ffffff;}
.reg_th{
    text-align: center;
    vertical-align: middle;
}

/*желтенький*/
.reg_mainfields {background: #FFD700;}
/*зелененький*/
.reg_purchase {background: #c1e2b3;}
/*серенький*/
.reg_sales {background: #e0e0e0;}
/*синеньки*/
.reg_answer {background: #87CEEB;}

/*классы для сворачивания/разворачивания строки*/
td.clip {
    max-width: 200px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
td.little { cursor: pointer;}

/*подсветка текста*/
.shine {
    -moz-text-shadow:0 0 10px #c00; 
    -webkit-text-shadow:0 0 10px #c00; 
    text-shadow:0 0 10px #c00;
}

.bigtext {
    font-style: italic;
    size: 100%;
    text-align: center;
}

hr {
    height: 10px; 
    border: 0; 
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.main {
  overflow: auto;
}

table {
    background: white; /* Цвет фона ячеек */
   }

h3 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  letter-spacing: 1px;
  max-width: 600px;
  width: 100%;
  position: relative;
  display: inline-block;
  color: #465457;
}   

.d4 h3 {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 2px solid #E5EDEA; 
}
.d4 h3:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 30%;
  height: 4px;
  background: #A6D8CB;
}

.box {
    background-color: blue;
    display: none;
}

.box.show {
    display: table-row;
}

.parent {
    background-color: yellow;
}

@media print {
    body {
        font-size: 12px;
    }
        table, th, td
    {
        font-size: 12px;
        border-collapse:collapse; 
        border: 1px solid black; 
    }
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

/*Для страницы авторизации*/
.background {
    background-image: url(../img/light_blue3.jpg); /* Путь к фоновому изображению */
    background-size: cover;
    background-attachment: fixed;
}
.block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    text-align:center;
    transform: translate(-50%, -50%);
    background-color:#ffffff;
    border:1px solid #8c8c8c;
    /* Internet Explorer */
    filter:alpha(opacity=70);
    /* CSS3 standard */
    opacity:0.7
}
div.block span {color:#000000;}
div.block input.btn {margin-bottom: 1%; width: 15%}
div.block h3 {color:#000000; margin: 1% 0 2% 0%;}
div.block div {color:#000000; margin-left: 1%; margin-right: 1%}
